<!DOCTYPE html>
<html>
<head>
</head>
<body>
	tandem
	<form id="new" action="/rooms" method="POST">
		<button type="submit">Create a new room</button>
	</form>
	<div id="rooms">
		<ul class="list">
			{{#rooms}}
			<li><a href="/rooms/{{id}}">{{id}}</a></li>
			{{/rooms}}
		</ul>
	</div>
</body>
</html>