<!DOCTYPE html>
<html>
<head>
	<title>{{room.id}}</title>
	<link rel="stylesheet" href="/compiled/index.css" />
	{{#dev}}<script src="http://localhost:35729/livereload.js"></script>{{/dev}}
	<script>{{{javascript}}}</script>
	<script src="/compiled/room.js"></script>
</head>
<body id="page-room">
	<h1>{{room.id}}</h1>
	{{#user}}
	<div id="auth">
		{{#if soundcloud_id}}
		SoundCloud Linked
		{{else}}
		<a href="/auth/soundcloud">SoundCloud Auth</a>
		{{/if}}
		{{#if youtube_id}}
		YouTube Linked
		{{else}}
		<a href="/auth/youtube">YouTube Auth</a>
		{{/if}}
	</div>
	{{/user}}
	<div id="search"></div>
	<div id="social">
		<div id="users"></div>
		<div id="chat"></div>
	</div>
	<div id="media">
		<div id="player"></div>
		<div id="playlist"></div>
	</div>
</body>
</html>