#playlist {

	form {
		margin: 10px;
	}

	ul.items {
		.list-reset;

		> li {
			position: relative;
			clear: both;
			min-height: 50px;
			margin: 0 0 10px 0;
			padding: 0 40px 0 0;

			h3 {
				display: inline;
				vertical-align: top;
				margin: 2px 0;
			}

			a.remove {
				position: absolute;
				top: 2px;
				right: 10px;
			}

			var.duration {
				display: inline-block;
				position: absolute;
				bottom: 0;
				right: 0;
				padding: 3px 4px;
				font-size: 75%;
				font-style: normal;
				color: rgb( 255, 255, 255 );
				background: rgb( 0, 0, 0 );
			}

			span.image {
				display: inline-block;
				float: left;
				margin-right: 10px
			}
		}
	}

	.playlist_duration {
		float: right;
		padding: 3px 4px;
		color: rgb( 255, 255, 255 );
		background: rgb( 0, 0, 0 );
	
		> var {
			font-style: normal;
		}
	}

}