<li data-id="{{id}}">
	<span class="image {{source}}" style="background-image:url({{image}})" />
	<h3 class="title"><a href="{{url}}" target="_blank">{{title}}</a></h3><br />
	{{#user}}Posted By <span class="user"><strong class="name">{{name}}</strong></span>{{/user}}
	<var class="duration">{{secondsToTime duration}}</var>
	<a class="remove" href="#remove"><i class="fa fa-times"></i></a>
</li>